venv-its/
draftbook.ipynb
notebook_oggi.ipynb
esercitazione_oop.ipynb
esercitazione_ecceioni.ipynb
__init__.py
__pycache__/
esercitazione_oop.html
main.py
presidio.ipynb
todo.md
utils.py
esercitazione_eccezioni.ipynb
esercitazione_oop.ipynb